<template>
  <div>
    <div
      class="flex items-center justify-between gap-6 flex-wrap pt-6 px-4 md:px-6 mb-8"
    >
      <h1 class="text-4xl font-bold">Copy Trade</h1>
      <div class="flex items-center gap-4">
        <el-button type="warning">Lưu lại</el-button>
        <button @click="$router.back()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-8 h-8"
          >
            <path
              fill-rule="evenodd"
              d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="px-4 md:px-6">
      <div
        class="bg-white rounded-lg py-5 px-4 w-full lg:w-5/12 mb-4"
        style="box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1)"
      >
        <div class="font-bold mb-2.5">Vốn đi lệnh</div>
        <div class="mb-2.5">
          <el-input />
        </div>
        <div class="text-sm text-gray-400 mb-2.5">
          Sau khi giao địch viên đặt lệnh, vốn đặt lệnh sẽ bằng : 10.00 USDT
        </div>
        <div class="text-sm">Tài khoản khả dụng: 200.00 USDT</div>
      </div>
      <div
        class="flex items-center gap-2 font-semibold text-xs cursor-pointer mb-4"
      >
        <span>Thiết lập nâng cao</span>
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <div>
        <div
          class="bg-white rounded-lg py-5 px-4 w-full lg:w-5/12 mb-4"
          style="box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1)"
        >
          <div class="font-bold mb-2.5">Vốn đi lệnh mỗi ngày</div>
          <div class="mb-2.5">
            <el-input />
          </div>
          <div class="text-sm text-gray-400">
            Số vốn cho phép giao dịch viên đặt đặt lệnh trong ngày.
          </div>
        </div>
        <div
          class="bg-white rounded-lg py-5 px-4 w-full lg:w-5/12 mb-4"
          style="box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1)"
        >
          <div class="font-bold mb-2.5">Ký quỹ vị thế giữ tối đa (USDT)</div>
          <div class="mb-2.5">
            <el-input />
          </div>
          <div class="text-sm text-gray-400">
            Khi vốn lệnh của giao dịch viên nắm giữ đạt tới mức này sẽ ngừng cho
            phép sao chép.
          </div>
        </div>
        <div
          class="bg-white rounded-lg py-5 px-4 w-full lg:w-5/12 mb-4"
          style="box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1)"
        >
          <div class="font-bold mb-2.5">Tỷ lệ dừng lỗ</div>
          <div class="mb-2.5">
            <el-input />
          </div>
          <div class="text-sm text-gray-400">
            Lệnh sao chép sẽ dừng lỗ theo tỷ lệ được thiết lập
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
