<template>
  <div class="bg-gray-50">
    <div
      class="flex flex-wrap gap-6 justify-between items-center mb-8 py-6 px-4 md:px-6"
    >
      <div class="flex items-end flex-wrap gap-4">
        <h1 class="text-4xl font-bold">Copy Trade</h1>
        <el-dropdown trigger="click" @command="handleClickDropdown">
          <span class="el-dropdown-link font-medium text-lg text-yellow-500">
            Thiết lập BOT<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="contract">
              <div>Hợp đồng</div>
            </el-dropdown-item>
            <el-dropdown-item command="spot">
              <div class="flex items-center">
                <div>Lướt spot</div>
              </div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div
        class="font-medium text-lg text-yellow-500 cursor-pointer"
        @click="$router.push({ path: '/copy-trade/my-order' })"
      >
        Lệnh của tôi
      </div>
    </div>
    <List />
  </div>
</template>

<script>
import List from '@/components/copy-trade/list'
export default {
  components: { List },
  data() {
    return {
      showSettingExchangePopup: false,
    }
  },
  methods: {
    handleClickDropdown(command) {
      // if (command === 'exchange') {
      //   this.showSettingExchangePopup = true
      // } else {
      //   this.$router.push({ path: '/auto-trade/quan-ly-von' })
      // }
    },
  },
}
</script>

<style></style>
