<template>
  <div>
    <Item />
    <Item />
    <Item />
    <Item />
    <Item />
  </div>
</template>

<script>
import Item from './Item.vue'
export default {
  components: { Item },
}
</script>

<style></style>
