<template>
  <div class="py-6 px-4 md:px-6 mb-4 bg-white">
    <div class="flex flex-wrap justify-between gap-6 w-full pb-6">
      <div class="flex gap-3">
        <div
          class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-md bg-green-600 text-white text-2xl"
        >
          L
        </div>
        <div>
          <div class="font-semibold text-2xl mb-1">BTCUSDT</div>
          <div class="text-gray-700">Binance HD Vĩnh cửu</div>
        </div>
        <div class="text-gray-700">Cross x30</div>
      </div>
      <div class="text-center">
        <div class="text-xl text-gray-700 mb-1">PNL (USDT)</div>
        <div class="font-bold text-green-500 text-xl">20.0</div>
      </div>
      <div class="text-center">
        <div class="text-xl text-gray-700 mb-1">ROE</div>
        <div class="font-bold text-green-500 text-xl">+3,81%</div>
      </div>
      <div class="text-end">
        <div class="font-bold text-gray-700 mb-1">Trading Bot 1.</div>
        <div class="text-gray-700">23/07/2022 09:30</div>
      </div>
    </div>
    <div class="flex flex-wrap justify-between gap-3">
      <div>
        <div class="text-gray-500 font-medium mb-1">Kích thước</div>
        <div class="text-gray-700 font-bold">15665.4</div>
      </div>
      <div>
        <div class="text-gray-500 font-medium mb-1">Margin (USDT)</div>
        <div class="text-gray-700 font-bold">522.18</div>
      </div>
      <div>
        <div class="text-gray-500 font-medium mb-1">Rủi ro</div>
        <div class="text-green-500 font-bold">23,16%</div>
      </div>
      <div>
        <div class="text-gray-500 font-medium mb-1">Kích thước</div>
        <div class="text-gray-700 font-bold">15665.4</div>
      </div>
      <div>
        <div class="text-gray-500 font-medium mb-1">Giá vào lệnh (USDT)</div>
        <div class="text-gray-700 font-bold">22.830</div>
      </div>
      <div>
        <div class="text-gray-500 font-medium mb-1">Giá đánh dấu (USDT)</div>
        <div class="text-gray-700 font-bold">22.930</div>
      </div>
      <div>
        <div class="text-gray-500 font-medium mb-1">Giá thanh lý (USDT)</div>
        <div class="text-gray-700 font-bold">18.914</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
