<template>
  <div class="container mx-auto px-4 lg:px-8 py-6 lg:py-8">
    <div class="mx-auto w-full md:w-8/12">
      <div
        class="bg-green-50 flex items-center justify-center rounded-full mx-auto mb-7"
        style="width: 264px; height: 264px"
      >
        <div
          class="bg-green-100 flex items-center justify-center rounded-full"
          style="width: 204px; height: 204px"
        >
          <div
            class="bg-green-400 flex items-center justify-center rounded-full"
            style="width: 138px; height: 138px"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-14 h-14 text-white"
            >
              <path
                fill-rule="evenodd"
                d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="text-center mb-8">
        <h1 class="font-bold text-2xl md:text-5xl mb-3">Đã thay đổi mật khẩu</h1>
        <div class="text-xl md:text-2xl text-gray-500">
          Hãy đăng nhập bằng mật khẩu mới
        </div>
      </div>
      <div class="btn-full mb-8">
        <nuxt-link to="/auth/login">
          <el-button type="warning">Đăng nhập</el-button>
        </nuxt-link>
      </div>
      <div class="bg-yellow-100 rounded flex gap-2.5 py-4 px-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6 text-yellow-500 flex-shrink-0"
        >
          <path
            fill-rule="evenodd"
            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
            clip-rule="evenodd"
          />
        </svg>
        <div class="text-gray-500 font-semibold text-xl">
          Để bảo vệ tài sản của bạn,
          <span class="text-gray-800">chức năng rút tiền </span>sẽ bị vô hiệu
          hóa trong vòng 24 giờ sau khi mật khẩu thay đổi.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'auth',
  auth: false,
}
</script>

<style></style>
