<template>
  <div>
    <div class="bg-yellow-50 flex items-center justify-center gap-2 py-4 px-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="flex-shrink-0 w-6 h-6 text-yellow-500"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
          clip-rule="evenodd"
        />
      </svg>

      <div class="font-semibold text-gray-500">
        Withdrawals, P2P selling and user/payment services will be disabled for
        24hr after you make this change to protect your account .
      </div>
    </div>
    <div
      class="container mx-auto flex justify-center gap-20 px-4 lg:px-8 py-20"
    >
      <div class="w-full md:w-8/12">
        <div class="text-4xl text-gray-900 font-bold mb-8">
          Tạo mật khẩu mới
        </div>
        <div class="mb-7">
          <div class="text-gray-500 font-semibold mb-4">Email</div>
          <el-input v-model="email"></el-input>
        </div>
        <div class="btn-full mb-7">
          <nuxt-link to="/auth/password/verification">
            <el-button type="warning" :disabled="!email">Tiếp theo</el-button>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'auth',
  auth: false,
  data() {
    return {
      email: '',
    }
  },
  watch: {
    email(val) {
      this.$store.dispatch('user/setEmail', val)
    },
  },
}
</script>

<style></style>
