<template>
  <div class="container mx-auto flex justify-center gap-20 px-4 lg:px-8 py-20">
    <div class="w-full md:w-8/12">
      <div class="text-4xl text-gray-900 font-bold mb-4">Xác minh bảo mật</div>
      <div class="font-semibold text-gray-500 text-2xl mb-9">
        Nhằm bảo mật cho tài khoản của bạn, hãy điền mã xác thực bên dưới
      </div>
      <div class="mb-2">
        <div class="text-gray-500 font-semibold mb-4">Mã xác thực Email</div>
        <el-input v-model="emailVerificationCode">
          <template #suffix>
            <div
              class="text-yellow-500 font-semibold mr-2 cursor-pointer"
              style="line-height: 40px"
              @click="getEmailCode"
            >
              Lẫy mã
            </div>
          </template>
        </el-input>
      </div>
      <div class="text-gray-400 mb-7">
        Nhập mã xác thực 6 chữ số được gửi đến {{ email }}
      </div>
      <div class="btn-full mb-7">
        <el-button type="warning" @click="handleContinue">Tiếp theo</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'auth',
  auth: false,
  data() {
    return {
      emailVerificationCode: '',
    }
  },
  computed: {
    email() {
      return this.$store.state.user.email
    },
  },
  methods: {
    async getEmailCode() {
      try {
        await this.$repositories.user.sendMail({
          email: this.email,
          type: 'forget-password',
        })
        this.$message({
          message: 'Mã xác nhận đã được gửi về email của bạn',
          type: 'success',
        })
      } catch (e) {
        this.$message({
          message: e.response.data.message || 'Có lỗi xảy ra',
          type: 'error',
        })
      }
    },
    handleContinue() {
      this.$router.push({ path: '/auth/password/new' })
      this.$store.dispatch(
        'user/setEmailVerificationCode',
        this.emailVerificationCode
      )
    },
  },
}
</script>

<style></style>
