<template>
  <div>
    <div
      class="bg-yellow-50 hidden lg:flex items-center justify-center gap-2 py-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6 text-green-400 relative"
        style="top: -3px"
      >
        <path
          fill-rule="evenodd"
          d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z"
          clip-rule="evenodd"
        />
      </svg>
      <div class="font-medium">
        <span class="font-bold text-gray-800">Xác minh URL: </span>
        <!-- <span class="text-green-400">https://</span> -->
        <a
          href="https://accounts.binantrade.com"
          target="_blank"
          class="text-gray-700"
          >https://accounts.binantrade.com</a
        >
      </div>
    </div>
    <div
      class="container mx-auto flex justify-center flex-wrap gap-20 w-full lg:w-8/12 px-4 lg:px-8 py-10"
    >
      <div>
        <div class="text-3xl text-gray-900 font-semibold mb-6">
          Đăng nhập Binan Trade
        </div>
        <div>
          <div class="mb-4">
            <div class="font-semibold text-gray-500 mb-2">Email</div>
            <div class="mb-7">
              <el-input v-model="email"></el-input>
            </div>
          </div>
          <div class="mb-4">
            <div class="text-gray-500 font-semibold mb-2">Mật khẩu</div>
            <el-input v-model="password" show-password></el-input>
          </div>
          <div class="btn-full mb-4">
            <el-button :loading="logining" type="warning" @click="handleLogin"
              >Đăng nhập</el-button
            >
          </div>
          <div class="text-md font-medium">
            <nuxt-link to="/auth/password" class="text-gray-400"
              >Quên mật khẩu?</nuxt-link
            >
          </div>
          <div class="text-md font-medium">
            <span class="text-gray-400">Bạn chưa có tài khoản?</span>
            <nuxt-link to="/auth/register" class="text-yellow-400"
              >Tạo tài khoản Binan Trade</nuxt-link
            >
          </div>
        </div>
      </div>
      <!-- <div class="hidden md:block text-center">
        <div class="mb-8"><img src="/qr.png" alt="" class="mx-auto" /></div>
        <div class="text-2xl font-semibold mb-8">Đăng nhập bằng QR Code</div>
        <div class="text-xl font-semibold text-gray-500">
          Quét mã này bằng app
          <span class="text-yellow-400"> Binan Trade</span><br />
          di động để đăng nhâp ngay
        </div>
      </div> -->
    </div>
    <div class="flex items-center justify-center">
      <el-dialog
        title="Bảo mật 2 lớp"
        :visible.sync="show2faPopup"
        :close-on-click-modal="false"
        center
      >
        <div>
          <div class="text-gray-500 font-semibold mb-2">
            Nhập mã xác thực hoặc khóa dự phòng
          </div>
          <el-input v-model="authCode"></el-input>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="show2faPopup = false">Đóng</el-button>
          <el-button :loading="logining" type="warning" @click="handleLogin"
            >Đăng nhập</el-button
          >
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'auth',
  data() {
    return {
      email: '',
      password: '',
      authCode: '',
      logining: false,
      show2faPopup: false,
    }
  },
  watch: {
    show2faPopup(visible) {
      if (!visible) {
        this.authCode = ''
      }
    },
  },
  methods: {
    async handleLogin() {
      try {
        this.logining = true
        const rs = await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password,
            authCode: this.authCode,
          },
        })
        this.$auth.setUser(rs.data.data)
        this.$router.push({ path: '/' })
        await this.getWallet()
        this.$message({
          message: 'Đăng nhập thành công',
          type: 'success',
        })
      } catch (e) {
        let msg = ''
        if (e?.response?.data?.message === 'invalid 2fa code') {
          msg = 'Mã xác thực không đúng'
          this.show2faPopup = true
        }
        if (e?.response?.data?.message === 'incorrect credentials') {
          msg = 'Tài khoản hoặc mật khẩu không đúng'
        }
        this.$message({
          message: msg !== '' ? msg : e?.response?.data?.message,
          type: 'error',
        })
      } finally {
        this.logining = false
      }
    },
    async getWallet() {
      try {
        const rs = await this.$repositories.wallet.myWallet()
        console.log(rs)
        this.$store.dispatch('wallet/set', rs.data)
      } catch (e) {
        console.error(e)
      }
    },
  },
}
</script>

<style></style>
