<template>
  <div
    class="bg-white p-3 rounded-lg mb-4"
    style="box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1)"
  >
    <div class="flex items-center gap-2 mb-3">
      <div
        class="flex-center h-10 w-10 bg-red-500 text-2xl font-medium rounded text-white"
      >
        S
      </div>
      <div>
        <div class="flex items-center gap-1">
          <div class="text-xl font-medium">BTCUSDT</div>
          <div class="text-sm text-gray-400">x30</div>
        </div>
        <div class="text-xs text-gray-400">Giờ đóng 23/07/2022 09:30</div>
      </div>
    </div>
    <div class="flex items-center justify-between gap-6 mb-3">
      <div class="text-gray-600 font-semibold">Lệnh số</div>
      <div class="font-bold">0912323</div>
    </div>
    <div class="flex items-center justify-between gap-6 mb-3">
      <div class="text-gray-600 font-semibold">Giá mở</div>
      <div class="font-bold">22836.63</div>
    </div>
    <div class="flex items-center justify-between gap-6 mb-3">
      <div class="text-gray-600 font-semibold">Giá đóng</div>
      <div class="font-bold">22342.10</div>
    </div>
    <div class="flex items-center justify-between gap-6 mb-3">
      <div class="text-gray-600 font-semibold">Ký quỹ</div>
      <div class="font-bold">100.00</div>
    </div>
    <div class="flex items-center justify-between gap-6 mb-3">
      <div class="text-gray-600 font-semibold">Tỷ suất lợi tức</div>
      <div class="font-bold text-green-500">+98.23%</div>
    </div>
    <div class="flex items-center justify-between gap-6 mb-3">
      <div class="text-gray-600 font-semibold">
        Lợi nhuận người theo dõi (USDT)
      </div>
      <div class="font-bold text-green-500">+932.2</div>
    </div>
    <div class="flex items-center gap-2 text-sm text-gray-400">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          d="M10 9a3 3 0 100-6 3 3 0 000 6zM6 8a2 2 0 11-4 0 2 2 0 014 0zM1.49 15.326a.78.78 0 01-.358-.442 3 3 0 014.308-3.516 6.484 6.484 0 00-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 01-2.07-.655zM16.44 15.98a4.97 4.97 0 002.07-.654.78.78 0 00.357-.442 3 3 0 00-4.308-3.517 6.484 6.484 0 011.907 3.96 2.32 2.32 0 01-.026.654zM18 8a2 2 0 11-4 0 2 2 0 014 0zM5.304 16.19a.844.844 0 01-.277-.71 5 5 0 019.947 0 .843.843 0 01-.277.71A6.975 6.975 0 0110 18a6.974 6.974 0 01-4.696-1.81z"
        />
      </svg>
      <span>1123 người theo dõi</span>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
