<template>
  <div>
    <Item v-for="item in list" :key="item.id" :item="item" />
  </div>
</template>

<script>
import Item from './Item.vue'
export default {
  components: { Item },
  data() {
    return {
      list: [
        {
          id: 1,
        },
        {
          id: 2,
        },
        {
          id: 3,
        },
        {
          id: 4,
        },
        {
          id: 5,
        },
      ],
    }
  },
}
</script>

<style></style>
