<template>
  <div class="bg-white pt-6 px-4 md:px-6 mb-4">
    <div class="flex items-center justify-between flex-wrap gap-6 mb-4">
      <div
        class="flex items-center gap-4 cursor-pointer"
        @click="$router.push({ path: `/copy-trade/${item.id}` })"
      >
        <div class="w-12 h-12 rounded-full overflow-hidden">
          <img src="/user-blank.png" alt="" />
        </div>
        <div>
          <div class="font-semibold text-lg">KIMERA</div>
          <div class="text-gray-400">Binance HĐ Tiêu chuẩn</div>
        </div>
      </div>
      <el-button
        type="warning"
        @click="$router.push({ path: '/copy-trade/copy' })"
        >Sao chép</el-button
      >
    </div>
    <div class="flex items-center justify-between gap-6">
      <div>
        <div class="text-gray-400">Tỷ suất 30D</div>
        <div class="text-xl font-semibold text-green-500">+700.96%</div>
      </div>
      <div>
        <div class="text-gray-400">Người theo dõi</div>
        <div class="text-xl font-semibold">706</div>
      </div>
      <div class="flex flex-col items-end">
        <div class="text-gray-400">Đánh giá rủi ro</div>
        <div class="flex-center w-8 h-8 rounded bg-green-400 font-semibold">
          3
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style></style>
