<template>
  <div class="mx-auto w-full lg:w-6/12">
    <h2 class="text-2xl font-semibold mb-6">
      Tải xuống và cài đặt ứng dụng Authenticator
    </h2>
    <div class="flex items-center gap-7 mb-6">
      <div class="font-semibold py-3 px-4 rounded cursor-pointer bg-gray-200">
        Binan Trade Authenticator
      </div>
      <div class="font-semibold py-3 px-4 rounded cursor-pointer text-gray-500">
        Xác minh bằng Google
      </div>
    </div>
    <div class="flex items-center justify-around gap-7 mb-6">
      <div>
        <img src="/apple.png" class="block mb-2 mx-auto" />
        <div class="font-semibold text-sm">Apple Store</div>
      </div>
      <div>
        <img src="/android.png" class="block mx-auto" />
        <div class="font-semibold text-sm">Android APK</div>
      </div>
    </div>
    <div class="flex items-center gap-2 mb-6">
      <img src="/auth-qr.png" alt="" />
      <div class="font-semibold text-start mb-2">
        <div class="mb-2">Quét để tải xuống</div>
        <div class="text-sm text-gray-400 mb-2">IOS & Android</div>
        <div class="flex gap-1 text-sm text-gray-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
              clip-rule="evenodd"
            />
          </svg>
          <span>Sử dụng camera của điện thoại hoặc trình duyệt để quét</span>
        </div>
      </div>
    </div>
    <div
      class="flex item-center gap-2 font-semibold text-gray-400 underline cursor-pointer mb-6"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm2.25 8.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 3a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z"
          clip-rule="evenodd"
        />
      </svg>
      <span>Hướng dẫn thiết lập Binan Trade/Google Authenticator</span>
    </div>
    <div class="btn-full">
      <el-button type="warning" @click="$emit('next')">Tiếp theo</el-button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {},
}
</script>

<style></style>
