<template>
  <div class="mx-auto w-full lg:w-5/12">
    <h2 class="text-2xl font-semibold mb-6">
      Kích hoạt Authenticator bằng cách xác minh tài khoản của bạn
    </h2>
    <form>
      <div class="text-start mb-6">
        <div class="text-gray-500 font-semibold mb-3">Mã xác minh email</div>
        <el-input v-model="formData.emailVerificationCode">
          <template #suffix>
            <div
              class="text-yellow-500 font-semibold mr-2 cursor-pointer"
              style="line-height: 40px"
              @click="getVerificationCode"
            >
              Lẫy mã
            </div>
          </template>
        </el-input>
        <span class="text-sm text-gray-400 font-medium"
          >Nhập mã xác minh được gửi tới {{ email }}</span
        >
      </div>
      <div class="text-start mb-6">
        <div class="text-gray-500 font-semibold mb-3">Mã xác thực</div>
        <el-input v-model="formData.authenticatorCode"> </el-input>
      </div>
    </form>
    <div class="font-semibold text-start mb-6">
      <div class="text-yellow-500 mb-4">Xác minh bảo mật không khả dụng?</div>
      <div class="text-gray-400">
        Nhập mã gồm 6 chữ số được gửi tới Binan Trade/Google Authenticator
      </div>
    </div>
    <div class="flex items-center gap-2 w-full">
      <div class="w-2/4 btn-full">
        <el-button type="info" @click="$emit('pre')">Trước</el-button>
      </div>
      <div class="w-2/4 btn-full">
        <el-button type="warning" @click="handleNext">Tiếp theo</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formData: {
        emailVerificationCode: '',
        authenticatorCode: '',
      },
    }
  },
  computed: {
    email() {
      return this.$store.state.auth?.user?.email
    },
    userId() {
      return this.$store.state.auth?.user.id
    },
  },
  methods: {
    async getVerificationCode() {
      try {
        await this.$repositories.user.sendMail({
          email:
            this.$store.state.auth?.user?.email ||
            this.$store.state.user?.email,
          type: 'activate2fa',
        })
        this.$message({
          message: 'Lấy mã thành công! Vui lòng kiểm tra email!',
          type: 'success',
        })
      } catch (e) {
        this.$message({
          message: e.response?.data?.message || 'Có lỗi xảy ra',
          type: 'error',
        })
      }
    },
    handleNext() {
      this.$emit('next', this.formData)
    },
  },
}
</script>

<style></style>
