<template>
  <div class="mx-auto  w-full lg:w-5/12">
    <h2 class="text-2xl font-semibold mb-6">Khóa dự phòng</h2>
    <form>
      <div class="text-start mb-6">
        <div class="text-gray-500 font-semibold mb-3">Khóa dự phòng</div>
        <el-input v-model="dataForm.code" />
      </div>
      <div class="text-start mb-6">
        <div class="text-gray-500 font-semibold mb-3">Xác thực mã dự phòng</div>
        <el-input v-model="dataForm.confirmationCode" />
      </div>
    </form>
    <div class="flex items-center gap-2 w-full">
      <div class="w-2/4 btn-full">
        <el-button type="info" @click="$emit('pre')">Trước</el-button>
      </div>
      <div class="w-2/4 btn-full">
        <el-button type="warning" @click="$emit('next', dataForm)"
          >Tiếp theo</el-button
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dataForm: {
        code: '',
        confirmationCode: '',
      },
    }
  },
}
</script>

<style></style>
