<template>
  <div class="mx-auto w-full lg:w-5/12">
    <h2 class="text-2xl font-semibold mb-6">QR</h2>
    <div class="mb-6">
      <img :src="qr" class="block mx-auto" />
    </div>
    <div class="flex items-center gap-2 w-full">
      <div class="w-2/4 btn-full">
        <el-button type="info" @click="$emit('pre')">Trước</el-button>
      </div>
      <div class="w-2/4 btn-full">
        <el-button type="warning" @click="$emit('next')">Tiếp theo</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    qr: {
      type: String,
      default: '',
    },
  },
}
</script>

<style></style>
