<template>
  <div
    class="fixed rounded-lg border border-yellow-500 p-6 bg-white z-50 shadow-lg w-10/12 md:w-8/12 lg:w-4/12"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
  >
    <div
      class="flex items-center justify-between gap-3 pb-5 border-b border-gray-200"
    >
      <h2 class="text-xl font-medium">Tạo yêu cầu nạp tiền</h2>
      <button @click="$emit('close')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-10 h-10"
        >
          <path
            fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="py-6">
      <div class="mb-2">Nhập số tiền muốn nạp</div>
      <el-input v-model="value" type="text">
        <template #suffix>
          <div style="line-height: 40px; margin-right: 16px">$</div>
        </template>
      </el-input>
    </div>
    <div class="flex items-center justify-center">
      <el-button
        :disabled="value === ''"
        type="warning"
        @click="$emit('continue', value)"
        >Tiếp tục</el-button
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: '',
    }
  },
}
</script>

<style></style>
