<template>
  <div
    class="fixed rounded-lg border border-yellow-500 p-6 bg-white z-50 shadow-lg w-10/12 md:w-8/12 lg:w-4/12 overflow-auto"
    style="
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 80vh;
    "
  >
    <div
      class="flex items-center justify-between gap-3 pb-5 border-b border-gray-200"
    >
      <h2 class="text-xl font-medium">Nạp tiền bằng BNB Pay</h2>
      <button @click="$emit('close')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-10 h-10"
        >
          <path
            fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="py-6">
      <div>
        <img :src="qr" class="mx-auto" />
        <div class="mb-6 font-bold text-center">Quét mã QR BNB Pay</div>
      </div>
      <div class="mb-2">
        <span class="font-bold">Địa chỉ BNB Pay nhận USDT </span
        ><span class="text-sm"
          >(vui lòng chọn 1 trong 3 phương pháp bên dưới)</span
        >
      </div>
      <div class="mb-2 text-sm">1/ Email BNB Pay: khongcota@gmail.com</div>
      <div class="mb-2 text-sm">2/ Pay ID Binan Trade: 1351533130322</div>
      <div class="mb-6 text-sm">3/ Binance ID Binan Trade: 145531531313512</div>
      <div class="mb-6">
        <span class="font-bold"> Nội dung chuyển khoản </span
        ><span class="text-sm"
          >(vui lòng nhập đúng nội dung chuyển khoản khi chuyển tiền trên BNB
          Pay)</span
        >
      </div>
      <div class="mb-6 text-center">
        <div>
          Vui lòng nạp tối thiểu <span class="font-bold">100$</span> cho mỗi lần
          nạp
        </div>
        <div>Thời gian xác nhận giao dịch dự kiến ~30m</div>
      </div>
      <div class="flex item-center gap-1 text-xs text-gray-600">
        <el-checkbox></el-checkbox>
        <div>
          Tôi đã đọc kỹ tất cả thông tin và xác nhận tiến hành giao dịch
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <el-button type="warning" @click="$emit('deposit')">Hoàn tất</el-button>
    </div>
  </div>
</template>

<script>
import { encoder } from '@/utils/qr'
export default {
  props: {
    qr: {
      type: String,
      default: '',
    },
  },
  computed: {
    qrImg() {
      return encoder(this.qr)
    },
  },
}
</script>

<style></style>
