<template>
  <div>
    <div class="yellow rounded-lg p-8 font-medium mb-8">
      <div class="text-2xl mb-9">Ví sàn (future)</div>
      <div class="text-5xl">{{ future.balance }}$</div>
    </div>
    <div class="blue rounded-lg p-8 font-medium mb-8">
      <div class="text-2xl mb-9">Ví Binan Trade</div>
      <div class="text-5xl">{{ binan.balance?.toFixed(2) }}$</div>
    </div>
    <div class="violet rounded-lg p-8 font-medium mb-8">
      <div class="text-2xl mb-9">Ví trả thưởng</div>
      <div class="text-5xl">{{ rewarding.balance }}$</div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    rewarding() {
      return (
        this.$store.state.wallet.data?.find((el) => el.type === 'REWARDING') ||
        {}
      )
    },
    future() {
      return (
        this.$store.state.wallet.data?.find((el) => el.type === 'FUTURE') || {}
      )
    },
    binan() {
      return (
        this.$store.state.wallet.data?.find(
          (el) => el.type === 'BINAN_TRADE'
        ) || {}
      )
    },
  },
}
</script>

<style scoped>
.yellow {
  background: linear-gradient(
    177.57deg,
    #ffe07a 73.98%,
    rgba(255, 215, 85, 0) 175.96%
  );
}
.blue {
  background: #bfe6eb;
}
.violet {
  background: #eca0f9;
}
</style>
