<template>
  <div>
    <div style="background: #ffffff">
      <div
        class="flex items-center justify-between gap-6 flex-wrap pt-6 px-4 md:px-6 mb-8"
      >
        <h1 class="text-4xl font-bold">Lệnh của tôi</h1>
        <button @click="$router.back()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-8 h-8"
          >
            <path
              fill-rule="evenodd"
              d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-12 gap-6 px-4 md:px-6">
        <div class="col-start-1 col-end-13 md:col-start-3 md:col-end-11">
          <div class="flex-between gap-6 mb-3">
            <span>Tổng quan</span>
            <span class="text-xs text-gray-400">
              Cập nhật lúc 23/07/2022 08:34</span
            >
          </div>
          <div class="p-3 rounded-lg mb-4" style="background: #fef0c7">
            <div class="flex-between gap-6 mb-3">
              <div>
                <div class="text-xl font-bold">12.00</div>
                <div class="text-gray-700">Thu nhập hôm nay</div>
              </div>
              <div>
                <div class="text-xl font-bold">341.2</div>
                <div class="text-gray-700">Tổng lợi nhuận</div>
              </div>
            </div>
            <div class="flex-between gap-6 text-xs text-gray-700">
              <span class="font-medium">Hiển thị thêm dữ liệu</span>
              <span>Đơn vị: USDT</span>
            </div>
          </div>
          <div class="text-center text-xl font-bold mb-4">
            Sao chép hiện tại
          </div>
          <div class="flex items-center justify-center gap-6">
            <div
              v-for="tab in tabs"
              :key="tab.key"
              class="font-semibold text-base md:text-xl px-6 py-2 cursor-pointer text-gray-500"
              :class="{ 'tab-active': tab.key === activedTab }"
              @click="activedTab = tab.key"
            >
              {{ tab.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 pt-12 pb-6 px-4 md:px-6">
      <div class="col-start-1 col-end-13 md:col-start-2 md:col-end-12">
        <div class="p-3 rounded-lg mb-12" style="background: #fef0c7">
          <div class="flex-between gap-6 mb-4">
            <span class="font-semibold text-gray-500"
              >Thu nhập hôm nay (USDT)</span
            >
            <span class="font-bold text-green-500">+12.00</span>
          </div>
          <div class="flex-between gap-6">
            <span class="font-semibold text-gray-500"
              >Lũy kế lợi nhuận (USDT)</span
            >
            <span class="font-bold text-green-500">+32.00</span>
          </div>
        </div>
        <div
          class="bg-white rounded-lg p-3"
          style="box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1)"
        >
          <div
            class="flex-between gap-6 cursor-pointer mb-5"
            @click="$router.push({ path: '/copy-trade/my-order/1' })"
          >
            <div class="flex items-center gap-2">
              <div class="w-14 h-14 rounded-full overflow-hidden">
                <img src="/user-blank.png" alt="" />
              </div>
              <div>
                <div class="text-xl font-bold mb-1">KIMERA</div>
                <div class="text-sm text-gray-400">Binance HĐ Tiêu chuẩn</div>
              </div>
            </div>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-6 h-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
          <div class="flex-between gap-6 mb-4">
            <div class="font-semibold text-gray-700">
              Thu nhập hôm nay (USDT)
            </div>
            <div class="font-semibold text-green-500">+13.00</div>
          </div>
          <div class="flex-between gap-6">
            <div class="font-semibold text-gray-700">
              Lũy kế lợi nhuận (USDT)
            </div>
            <div class="font-semibold text-green-500">+34.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabs: [
        {
          key: 'contract',
          name: 'Hợp đồng',
        },
        {
          key: 'spot',
          name: 'Lướt Spot',
        },
      ],
      activedTab: 'contract',
    }
  },
}
</script>

<style lang="scss" scoped>
.tab-active {
  color: #30374f;
  border-bottom: 3px solid #fac515;
}
</style>
