<template>
  <div>
    <div class="flex items-center gap-4 justify-between py-3">
      <div class="text-sm font-semibold">Cặp giao dịch auto trade</div>
      <div class="flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            d="M6 12a.75.75 0 01-.75-.75v-7.5a.75.75 0 111.5 0v7.5A.75.75 0 016 12zM18 12a.75.75 0 01-.75-.75v-7.5a.75.75 0 011.5 0v7.5A.75.75 0 0118 12zM6.75 20.25v-1.5a.75.75 0 00-1.5 0v1.5a.75.75 0 001.5 0zM18.75 18.75v1.5a.75.75 0 01-1.5 0v-1.5a.75.75 0 011.5 0zM12.75 5.25v-1.5a.75.75 0 00-1.5 0v1.5a.75.75 0 001.5 0zM12 21a.75.75 0 01-.75-.75v-7.5a.75.75 0 011.5 0v7.5A.75.75 0 0112 21zM3.75 15a2.25 2.25 0 104.5 0 2.25 2.25 0 00-4.5 0zM12 11.25a2.25 2.25 0 110-4.5 2.25 2.25 0 010 4.5zM15.75 15a2.25 2.25 0 104.5 0 2.25 2.25 0 00-4.5 0z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            fill-rule="evenodd"
            d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
    <div>
      <div
        v-for="item in list"
        :key="item.key"
        class="flex items-center justify-between py-3 border-b border-gray-200"
      >
        <div class="text-sm">{{ item.name }}</div>
        <el-switch
          :value="item.key"
          active-color="#FBBF24"
          inactive-color="#D1D5DB"
          @change="change"
        >
        </el-switch>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [
        {
          key: 'BTC/USDT',
          name: 'BTC/USDT',
        },
        {
          key: 'ETH/USDT',
          name: 'ETH/USDT',
        },
        {
          key: 'BNB/USDT',
          name: 'BNB/USDT',
        },
        {
          key: 'CELO/USDT',
          name: 'CELO/USDT',
        },
        {
          key: 'EOS/USDT',
          name: 'EOS/USDT',
        },
        {
          key: '1INCH/USDT',
          name: '1INCH/USDT',
        },
        {
          key: 'ALPHA/USDT',
          name: 'ALPHA/USDT',
        },
      ],
    }
  },
  methods: {
    change(val) {
      console.log(val)
    },
  },
}
</script>

<style></style>
