<template>
  <div>
    <Item v-for="index in 5" :key="index" />
  </div>
</template>

<script>
import Item from '@/components/copy-trade/detail/history/Item'
export default {
  components: { Item },
}
</script>

<style></style>
