<template>
  <div>
    <div class="p-4" style="background-color: #ffffff">
      <div class="flex-between gap-6 pb-6 border-b border-gray-200">
        <div class="flex items-center gap-2">
          <div class="w-24 h-24 rounded-full overflow-hidden">
            <img src="/user-blank.png" alt="" />
          </div>
          <div>
            <div class="font-bold text-4xl mb-2">KIMERA</div>
            <div class="text-gray-400">Binan HD Tiêu chuẩn</div>
          </div>
        </div>
        <div class="text-end">
          <button @click="$router.back()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-8 h-8"
            >
              <path
                fill-rule="evenodd"
                d="M20.25 12a.75.75 0 01-.75.75H6.31l5.47 5.47a.75.75 0 11-1.06 1.06l-6.75-6.75a.75.75 0 010-1.06l6.75-6.75a.75.75 0 111.06 1.06l-5.47 5.47H19.5a.75.75 0 01.75.75z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <div class="font-medium text-yellow-500 cursor-pointer">
            Hủy giao dịch
          </div>
        </div>
      </div>
      <div class="py-4 border-b border-gray-200">
        <div class="flex-between gap-6 mb-4">
          <div class="font-semibold">Thu nhập hôm nay (USDT)</div>
          <div class="font-bold text-green-500">+13.00</div>
        </div>
        <div class="flex-between gap-6">
          <div class="font-semibold">Lũy kế lợi nhuận (USDT)</div>
          <div class="font-bold text-green-500">+34.00</div>
        </div>
      </div>
      <div class="py-4">
        <div class="flex-between gap-6 mb-4">
          <div class="text-lg font-bold">Cài đặt sao chép</div>
          <div class="text-yellow-500 font-medium cursor-pointer">
            Chỉnh sửa
          </div>
        </div>
        <div class="flex-between gap-6">
          <div class="text-sm font-medium text-gray-700">Vốn lệnh (USDT)</div>
          <div class="font-bold">60.00</div>
        </div>
      </div>
      <div class="flex items-center justify-center gap-4">
        <div
          v-for="tab in tabs"
          :key="tab.key"
          class="font-semibold text-base md:text-xl px-3 py-2 cursor-pointer text-gray-500"
          :class="{ 'tab-active': tab.key === activedTab }"
          @click="activedTab = tab.key"
        >
          {{ tab.name }}
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6 py-6 px-4 md:px-6">
      <div class="col-start-1 col-end-13 md:col-start-2 md:col-end-12">
        <Copy v-show="activedTab === 'copy'" />
        <History v-show="activedTab === 'history'" />
      </div>
    </div>
  </div>
</template>

<script>
import Copy from './Copy.vue'
import History from './History.vue'
export default {
  components: { Copy, History },
  data() {
    return {
      tabs: [
        {
          key: 'copy',
          name: 'Giữ lệnh sao chép',
        },
        {
          key: 'history',
          name: 'Lịch sử giao dịch',
        },
      ],
      activedTab: 'copy',
    }
  },
}
</script>

<style lang="scss" scoped>
.tab-active {
  color: #30374f;
  border-bottom: 3px solid #fac515;
}
</style>
