<template>
  <div class="w-full">
    <h1 class="text-4xl font-bold py-6">Ví của tôi</h1>
    <div class="grid grid-cols-12 gap-10">
      <div class="col-span-12 lg:col-span-4">
        <Wallets />
      </div>
      <div class="col-span-12 lg:col-span-8">
        <div class="flex items-center gap-6 pb-7 border-b border-gray-200">
          <el-button type="warning" round @click="showDepositPopup = true"
            >Deposit</el-button
          >
          <el-button type="warning" round>Withdraw</el-button>
          <el-button type="warning" round>Transfer</el-button>
        </div>
        <div class="flex items-center py-6 cursor-pointer gap-4">
          <img src="/logo.png" alt="" />
          <div class="text-xl">Kết nối tài khoản của bạn với Binan Trade</div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            />
          </svg>
        </div>
        <div class="w-full md:w-5/12 mb-10">
          <div class="mb-5">
            <div class="font-semibold mb-2">API Key</div>
            <el-input v-model="apiKey" placeholder="Nhập API key" />
          </div>
          <div class="mb-5">
            <div class="font-semibold mb-2">Key bí mật</div>
            <el-input v-model="secretKey" placeholder="Nhập Key bí mật" />
          </div>
          <div class="btn-full mb-5">
            <el-button type="warning">Kết nối</el-button>
          </div>
          <div class="flex items-center gap-2 cursor-pointer text-yellow-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
              />
            </svg>
            <div class="font-semibold">Cách lấy API Key hoặc Secret Key</div>
          </div>
        </div>
        <div>
          <div class="text-xl mb-4">Lịch sử giao dịch</div>
          <el-table :data="tableData" style="width: 100%">
            <el-table-column prop="number" label="Number"> </el-table-column>
            <el-table-column prop="result" label="Result"> </el-table-column>
            <el-table-column prop="id" label="ID"> </el-table-column>
            <el-table-column prop="transferType" label="Transfer Type">
            </el-table-column>
            <el-table-column prop="user" label="User"> </el-table-column>
            <el-table-column prop="amount" label="Amount"> </el-table-column>
            <el-table-column prop="date" label="Date"> </el-table-column>
          </el-table>
        </div>
      </div>
    </div>
    <DepositPopup
      v-if="showDepositPopup"
      @continue="handleContinue"
      @close="showDepositPopup = false"
    />
    <QRPayPopup
      v-if="showQrPayPopup"
      :qr="payment.qr_url"
      @deposit="handleMakeDeposit"
      @close="showQrPayPopup = false"
    />
  </div>
</template>

<script>
import DepositPopup from '@/components/wallet/DepositPopup.vue'
import Wallets from '@/components/wallet/Wallets.vue'
import QRPayPopup from '@/components/wallet/QRPayPopup.vue'
export default {
  components: { Wallets, DepositPopup, QRPayPopup },
  data() {
    return {
      showDepositPopup: false,
      showQrPayPopup: false,
      apiKey: '',
      secretKey: '',
      tableData: [
        {
          // number: 1,
          // result: 'WIN',
          // id: '2164016406',
          // transferType: 'Receiving money',
          // user: 'Snoopdogg',
          // amount: '+$200',
          // date: '2016-05-01',
        },
      ],
      payment: {},
      value: '',
    }
  },
  async mounted() {
    await this.getPayment()
  },
  methods: {
    handleContinue(val) {
      this.value = val
      this.showDepositPopup = false
      this.showQrPayPopup = true
    },
    async handleMakeDeposit() {
      const wallet = this.$store.state.wallet.data?.find(
        (el) => el.type === 'BINAN_TRADE'
      )
      try {
        await this.$repositories.wallet.makeDeposit({
          currency: 'USD',
          type: 'BINAN_TRADE',
          value: +this.value,
          walletId: wallet.id,
        })
        this.$message({
          message: 'Tạo yêu cầu nạp tiền thành công',
          type: 'success',
        })
        this.showQrPayPopup = false
      } catch (e) {
        this.$message({
          message: e.response?.data?.message || 'Có lỗi xảy ra',
          type: 'error',
        })
      }
    },
    async getPayment() {
      try {
        const rs = await this.$repositories.payment.all()
        this.payment = rs.data
      } catch (e) {
        console.error(e)
      }
    },
  },
}
</script>

<style></style>
