<template>
  <div class="p-6 font-medium text-xl text-gray-600">
    <el-table :data="coins" style="width: 90%; margin: auto;">
      <el-table-column fixed="left" prop="market_cap_rank" label="#" width="50" />
      <el-table-column fixed prop="logo" label="" width="50">
        <template #default="{ row }">
          <img
            style="width: 50px; margin-right: 1rem; margin-left: 30%;"
            :src="`${row && row.image}`"
            alt=""
          />
        </template>
      </el-table-column>
      <el-table-column fixed prop="name" label="name" width="200" />
      <el-table-column prop="current_price" label="Price" width="120" />
      <el-table-column
        prop="price_change_percentage_1h_in_currency"
        label="1h %"
        width="120"
      >
        <template #default="{ row }">
          <p
            v-if="row.price_change_percentage_1h_in_currency > 0"
            style="color: green;"
          >
            {{ Number(row.price_change_percentage_1h_in_currency).toFixed(2) }}
          </p>
          <p
            v-if="row.price_change_percentage_1h_in_currency == 0"
            style="color: black;"
          >
            {{ Number(row.price_change_percentage_1h_in_currency).toFixed(2) }}
          </p>
          <p
            v-if="row.price_change_percentage_1h_in_currency < 0"
            style="color: red;"
          >
            {{ Number(row.price_change_percentage_1h_in_currency).toFixed(2) }}
          </p>
        </template>
      </el-table-column>
      <el-table-column
        prop="price_change_percentage_24h_in_currency"
        label="24h %"
        width="120"
      >
        <template #default="{ row }">
          <p
            v-if="row.price_change_percentage_24h_in_currency > 0"
            style="color: green;"
          >
            {{ Number(row.price_change_percentage_24h_in_currency).toFixed(2) }}
          </p>
          <p
            v-if="row.price_change_percentage_24h_in_currency == 0"
            style="color: black;"
          >
            {{ Number(row.price_change_percentage_24h_in_currency).toFixed(2) }}
          </p>
          <p
            v-if="row.price_change_percentage_24h_in_currency < 0"
            style="color: red;"
          >
            {{ Number(row.price_change_percentage_24h_in_currency).toFixed(2) }}
          </p>
        </template>
      </el-table-column>
      <el-table-column
        prop="price_change_percentage_7d_in_currency"
        label="7d %"
        width="120"
      >
        <template #default="{ row }">
          <p
            v-if="row.price_change_percentage_7d_in_currency > 0"
            style="color: green;"
          >
            {{ Number(row.price_change_percentage_7d_in_currency).toFixed(2) }}
          </p>
          <p
            v-if="row.price_change_percentage_7d_in_currency == 0"
            style="color: black;"
          >
            {{ Number(row.price_change_percentage_7d_in_currency).toFixed(2) }}
          </p>
          <p
            v-if="row.price_change_percentage_7d_in_currency < 0"
            style="color: red;"
          >
            {{ Number(row.price_change_percentage_7d_in_currency).toFixed(2) }}
          </p>
        </template>
      </el-table-column>
      <el-table-column prop="total_volume" label="Volume (24h)" width="120" />
      <el-table-column
        prop="market_cap"
        label="Circulating Supply"
        width="150"
      />
      <el-table-column prop="chart" label="Last 7 Days" width="200">
        <template #default="{ row }">
          <img
            loading="lazy"
            width="200"
            height="50"
            alt="bitcoin (BTC) 7d chart"
            data-url="/vi/ty_gia/bitcoin?chart=7_days#panel"
            data-action="click->application#navigateToUrl"
            :src="`https://www.coingecko.com/coins/${row.code_id}/sparkline`"
          />
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      coins: [],
    };
  },
  created() {
    this.getAllCoinByRank();
  },
  updated() {
    console.log("updated");
  },
  async mounted() {},
  methods: {
    async getAllCoinByRank() {
      try {
        const rs = await this.$repositories.user.getAllCoins();
        if (rs) {
          const regex = /images\/\d+/g;
          rs.map((item) => {
            item.code_id = item.image.match(regex)[0].replace("images/", "");
            return item;
          });
          this.coins = rs;
        }
      } catch (e) {
        console.error(e);
      }
    },
  },
};
</script>

<style>
.table-overview {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-overview td {
  padding-top: 1rem;
}
</style>
