<template>
  <div
    class="fixed rounded-lg border border-yellow-500 p-6 bg-white z-50 shadow-lg w-full md:w-10/12 lg:w-5/12"
    style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
  >
    <div
      class="flex items-center justify-between gap-3 pb-5 border-b border-gray-200"
    >
      <div class="flex items-center gap-3">
        <img :src="`${item && item.type}.png`" alt="" />
        <div>
          <div class="text-2xl font-bold mb-2">{{ packageName }}</div>
          <div class="text-xl text-gray-500">{{ option.name }}</div>
        </div>
      </div>
      <button @click="$emit('close')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-10 h-10"
        >
          <path
            fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div
      class="flex items-center gap-4 font-semibold py-6 border-b border-gray-200"
    >
      <div class="text-xl text-gray-400 w-5/12">Tài khoản</div>
      <div class="text-xl text-gray-800 w-7/12">
        {{ $store.state.auth?.user?.email }}
      </div>
    </div>
    <div
      class="flex items-center gap-4 font-semibold py-6 border-b border-gray-200"
    >
      <div class="text-xl text-gray-400 w-5/12">Số dư ví Binan Trade:</div>
      <div class="text-xl text-gray-800 w-7/12 text-green-500 font-bold">
        {{ balance }}$
      </div>
    </div>
    <div
      class="flex items-center gap-4 font-semibold py-6 border-b border-gray-200"
    >
      <div class="text-xl text-gray-400 w-5/12">Tổng thanh toán</div>
      <div class="text-xl text-gray-800 w-7/12 text-red-500 font-bold">
        {{ option.value }}$
      </div>
    </div>
    <div
      v-if="$store.state.auth?.user?.authenticatorEnabled"
      class="flex items-center py-6 font-semibold gap-4"
    >
      <div class="text-xl text-gray-400">Mã 2FA</div>
      <div>
        <el-input v-model="authCode" />
        <div class="text-sm text-red-500 font-medium">
          Nhập mã 2FA để tiến hành mua
        </div>
      </div>
    </div>
    <div class="mb-6 text-center pt-6">
      <el-button :loading="buying" type="warning" @click="purchasePackage"
        >Xác nhận thanh toán</el-button
      >
    </div>
    <div class="flex item-center gap-1 text-xs text-gray-400">
      <el-checkbox></el-checkbox>
      <div>
        Chúng tôi sẽ không chịu trách nhiệm cho bất kỳ chi phí nào phát sinh
        trong quá trình bạn sử dụng bot, nhấp vào xác nhận mua đồng nghĩa với
        việc bạn chấp nhận tất cả những điều khoản của chúng tôi
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    option: {
      type: Object,
      default: () => {},
    },
    buying: {
      type: Boolean,
    },
  },
  data() {
    return {
      authCode: '',
    }
  },
  computed: {
    balance() {
      const binanTrade = this.$store.state.wallet.data.find(
        (el) => el.type === 'BINAN_TRADE'
      )
      if (binanTrade && binanTrade) return binanTrade.balance?.toFixed(2)
      else return ''
    },
    packageName() {
      if (this.item.type === 'BTC') return ' Bitcoin Signal'
      else if (this.item.type === 'ETH') return ' ETH Signal'
      else if (this.item.type === 'BNB') return 'BnB Signal'
      else return ''
    },
  },
  methods: {
    purchasePackage() {
      this.$emit('buy', this.authCode)
    },
  },
}
</script>

<style></style>
