<template>
  <div
    class="col-span-12 md:col-start-3 md:col-end-11 lg:col-span-4 p-6 rounded-xl border border-yellow-500 h-max"
  >
    <div class="text-center mb-6">
      <img :src="`${item && item.type}.png`" class="mx-auto" />
    </div>
    <div class="text-center text-3xl text-gray-700 font-bold mb-6">
      {{ packageName }}
    </div>
    <div
      v-click-outside="closeDropdown"
      class="relative flex-center rounded-xl border border-yellow-500 mb-6"
      style="height: 100px"
    >
      <div v-if="purchasedPackage">
        <div
          class="text-center text-5xl font-bold mb-4"
          style="color: rgba(126, 194, 163, 1)"
        >
          Đã mua
        </div>
        <div
          class="absolute bottom-1 right-1 flex items-center gap-1 text-sm text-gray-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-3 h-3"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
              clip-rule="evenodd"
            />
          </svg>
          <div>Hạn sử dụng: {{ purchasedPackage.expiredAt | formatDate }}</div>
        </div>
      </div>
      <div v-else>
        <div
          class="flex items-center justify-between gap-3 cursor-pointer"
          @click="showDropdown = !showDropdown"
        >
          <div class="font-bold text-5xl" style="color: rgba(58, 93, 101, 1)">
            {{ option.value }}/{{ option.totalMonths }} mo
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          v-if="showDropdown"
          class="absolute right-0 left-0"
          style="top: calc(100% + 8px)"
        >
          <div class="rounded-lg border border-gray-200 shadow-md bg-white">
            <div
              v-for="opt in options"
              :key="opt.key"
              class="text-2xl text-gray-600 py-3 px-4 border-b border-gray-200 cursor-pointer"
              @click="option = opt"
            >
              {{ opt.value }}/{{ opt.totalMonths }} mo
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-6">
      <div class="flex item-center gap-4 font-medium text-gray-600 mb-4">
        <div class="flex items-center gap-3 w-9/12">
          <img src="/point-icon.png" alt="" />
          <div>Cặp giao dịch</div>
        </div>
        <div class="w-3/12">{{ item.pairWith }}</div>
      </div>
      <div class="flex item-center gap-4 font-medium text-gray-600 mb-4">
        <div class="flex items-center gap-3 w-9/12">
          <img src="/point-icon.png" alt="" />
          <div>Tỉ lệ thắng</div>
        </div>
        <div class="w-3/12 font-bold">{{ bot.winRate }}%</div>
      </div>
      <div class="flex item-center gap-4 font-medium text-gray-600">
        <div class="flex items-center gap-3 w-9/12">
          <img src="/point-icon.png" alt="" />
          <div>Tỉ suất lợi nhuận 30D</div>
        </div>
        <div class="w-3/12 font-bold text-green-500">
          {{ bot.profitRate30d }}%
        </div>
      </div>
    </div>
    <div v-if="purchasedPackage" class="flex items-center justify-center gap-4">
      <el-button type="warning" @click="showBuyPopup = !showBuyPopup"
        >Gia hạn</el-button
      >
      <el-button type="warning" @click="viewSignal">Xem tín hiệu</el-button>
    </div>
    <div v-else class="flex items-center justify-center gap-4">
      <el-button type="warning" @click="showBuyPopup = !showBuyPopup"
        >Mua ngay</el-button
      >
    </div>
    <BuyPopup
      v-if="showBuyPopup"
      :item="item"
      :option="option"
      :buying="buying"
      @close="showBuyPopup = false"
      @buy="purchasePackage"
    />
  </div>
</template>

<script>
import vClickOutside from 'v-click-outside'
import BuyPopup from './BuyPopup.vue'
export default {
  directives: {
    clickOutside: vClickOutside.directive,
  },
  components: { BuyPopup },
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    buying: {
      type: Boolean,
    },
    purchased: {
      type: Array,
      default: () => {},
    },
  },
  data() {
    return {
      option: this.item.prices ? this.item.prices[0] : '',
      showDropdown: false,
      showBuyPopup: false,
      bot: {},
    }
  },
  computed: {
    options() {
      return this.item.prices?.filter((el) => el.value !== this.option.value)
    },
    packageName() {
      if (this.item.type === 'BTC') return ' Bitcoin Signal'
      else if (this.item.type === 'ETH') return ' ETH Signal'
      else if (this.item.type === 'BNB') return 'BnB Signal'
      else return ''
    },
    purchasedPackage() {
      return this.purchased.find((el) => el.packageId === this.item.id)
    },
  },
  async mounted() {
    await this.getBotInfo()
  },
  methods: {
    closeDropdown() {
      this.showDropdown = false
    },
    purchasePackage(code) {
      // this.showBuyPopup = false
      const data = {
        packageId: this.item.id,
        totalMonths: this.option.totalMonths,
        authCode: code,
      }
      console.log(data)
      this.$emit('buy', data)
    },
    async getBotInfo() {
      try {
        const rs = await this.$repositories.bot.show(this.item.botId)
        this.bot = rs.data
      } catch (e) {
        console.error(e)
      }
    },
    viewSignal() {
      this.$router.push({
        path: '/bot-signal/my-bot',
        query: { id: this.item.botId },
      })
    },
  },
}
</script>

<style></style>
