<template>
  <div>
    <div class="bg-yellow-50 flex items-center justify-center gap-3 py-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-yellow-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"
        />
      </svg>
      <div class="text-lg text-gray-500 font-medium">
        Đăng ký ngay - nhận chiết khấu phí giao dịch lên đến 100 USDT ( cho
        người dùng đã xác thực )
      </div>
      <el-button size="mini" type="warning">Nhận quà</el-button>
    </div>
    <div class="container mx-auto flex gap-8 px-4 lg:px-8 py-20">
      <div>
        <div class="mb-20">
          <div class="text-5xl text-gray-900 font-bold mb-4">
            Chào mừng đến với Binan Trade
          </div>
          <div class="text-4xl text-gray-900 font-semibold">
            Cùng tham gia và nhận tín hiệu chuẩn nhất Việt Nam
          </div>
        </div>
        <div style="width: 480px">
          <div class="flex items-center gap-4 mb-8 cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-yellow-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"
              />
            </svg>
            <div
              class="flex items-center gap-1 text-gray-600 hover:text-yellow-500 transition-all font-medium text-2xl"
            >
              <span>Trao đổi Bitcoin miễn phí</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5 relative"
                style="top: 3px"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
          <div class="btn-full mb-8">
            <el-button type="warning">Đăng nhập bằng Email</el-button>
          </div>
          <div class="flex items-center gap-6 mb-8">
            <div class="border-b border-gray-300" style="width: 200px"></div>
            <span class="text-gray-700 text-md">hoặc</span>
            <div class="border-b border-gray-300" style="width: 200px"></div>
          </div>
          <div
            class="flex items-center justify-center gap-4 bg-gray-200 rounded py-3 px-5 text-xl font-semibold text-gray-800 cursor-pointer hover:bg-gray-300 transition-all mb-2"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M23.526 12.2764C23.526 11.4607 23.4599 10.6406 23.3188 9.83807H12V14.4591H18.4817C18.2128 15.9494 17.3485 17.2678 16.0831 18.1056V21.1039H19.95C22.2209 19.0139 23.526 15.9274 23.526 12.2764Z"
                fill="#4285F4"
              />
              <path
                d="M11.9999 24.0008C15.2363 24.0008 17.9657 22.9382 19.9543 21.1039L16.0873 18.1055C15.0114 18.8375 13.6225 19.252 12.0043 19.252C8.87365 19.252 6.21923 17.1399 5.26681 14.3003H1.27637V17.3912C3.31348 21.4434 7.46266 24.0008 11.9999 24.0008Z"
                fill="#34A853"
              />
              <path
                d="M5.26254 14.3003C4.75987 12.8099 4.75987 11.1961 5.26254 9.70575V6.61481H1.2765C-0.425501 10.0056 -0.425501 14.0004 1.2765 17.3912L5.26254 14.3003Z"
                fill="#FBBC04"
              />
              <path
                d="M11.9999 4.74966C13.7107 4.7232 15.3642 5.36697 16.6032 6.54867L20.0293 3.12262C17.8599 1.0855 14.9806 -0.034466 11.9999 0.000808666C7.46266 0.000808666 3.31348 2.55822 1.27637 6.61481L5.2624 9.70575C6.21041 6.86173 8.86924 4.74966 11.9999 4.74966Z"
                fill="#EA4335"
              />
            </svg>
            <span>Tiếp tục với Google</span>
          </div>
          <div
            class="flex items-center justify-center gap-4 bg-gray-900 rounded py-3 px-5 text-xl font-semibold text-gray-50 cursor-pointer hover:bg-gray-800 transition-all"
          >
            <svg
              width="19"
              height="22"
              viewBox="0 0 19 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.1426 17.1447C17.8099 17.9133 17.4161 18.6208 16.9598 19.2713C16.3379 20.158 15.8286 20.7719 15.4362 21.1127C14.8278 21.6722 14.176 21.9587 13.478 21.975C12.9769 21.975 12.3726 21.8324 11.6691 21.5432C10.9634 21.2553 10.3148 21.1127 9.72179 21.1127C9.09983 21.1127 8.43279 21.2553 7.71931 21.5432C7.00474 21.8324 6.42909 21.9832 5.98897 21.9981C5.31962 22.0266 4.65244 21.7319 3.98649 21.1127C3.56144 20.742 3.02979 20.1064 2.3929 19.2061C1.70956 18.2446 1.14777 17.1297 0.707644 15.8587C0.236289 14.4857 0 13.1563 0 11.8692C0 10.3948 0.318582 9.12321 0.956698 8.0576C1.4582 7.20166 2.12538 6.52647 2.9604 6.03081C3.79542 5.53514 4.69766 5.28256 5.6693 5.2664C6.20095 5.2664 6.89814 5.43085 7.76453 5.75405C8.62848 6.07834 9.18321 6.24279 9.42642 6.24279C9.60826 6.24279 10.2245 6.0505 11.2692 5.66714C12.2571 5.31162 13.0909 5.16441 13.774 5.2224C15.6249 5.37178 17.0155 6.10142 17.9403 7.41595C16.2849 8.41896 15.466 9.82379 15.4823 11.626C15.4973 13.0297 16.0065 14.1979 17.0074 15.1254C17.4609 15.5558 17.9674 15.8885 18.531 16.1248C18.4088 16.4793 18.2798 16.8188 18.1426 17.1447ZM13.8976 0.440125C13.8976 1.54038 13.4956 2.56768 12.6944 3.51854C11.7275 4.64892 10.558 5.30211 9.28981 5.19904C9.27365 5.06705 9.26428 4.92812 9.26428 4.78214C9.26428 3.7259 9.72409 2.59552 10.5406 1.67127C10.9483 1.20331 11.4668 0.814209 12.0955 0.503814C12.7229 0.19805 13.3164 0.0289566 13.8745 0C13.8908 0.147086 13.8976 0.294182 13.8976 0.440111V0.440125Z"
                fill="white"
              />
            </svg>
            <span>Tiếp tục với Apple ID</span>
          </div>
        </div>
      </div>
      <div>
        <img src="/group1.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
