<template>
  <div class="bg-white p-4 rounded-lg">
    <div
      v-for="index in 10"
      :key="index"
      class="flex items-center justify-between gap-6 border-b border-gray-200 py-3"
    >
      <div class="flex items-center gap-2">
        <div class="h-12 w-12 flex-center rounded-full overflow-hidden">
          <img src="/user-blank.png" alt="" />
        </div>
        <div class="font-medium text-sm">ana***@gm...</div>
      </div>
      <div>
        <div class="text-sm text-gray-400">Tổng lợi nhuận sao chép (USDT)</div>
        <div class="font-bold text-green-500 text-end">+1358.38</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
