<template>
  <div
    class="container mx-auto flex items-center justify-center gap-8 px-4 lg:px-8 py-32"
  >
    <div class="w-full md:w-8/12">
      <h1 class="text-6xl font-semibold mb-12 text-center">Welcome!</h1>
      <div class="btn-full mb-7">
        <nuxt-link to="/auth/register/new"
          ><el-button type="warning">Sign up with Email</el-button></nuxt-link
        >
      </div>
      <div class="text-lg font-medium text-gray-500">
        Already registered ?
        <nuxt-link to="/auth/login" class="text-yellow-500">Log in</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: 'auth',
}
</script>

<style></style>
