<template>
  <div class="container mx-auto px-4 lg:px-8 py-10">
    <h1 class="text-2xl md:text-5xl font-semibold mb-10 text-center">
      Create Personal Account
    </h1>
    <div class="mx-auto w-full md:w-8/12">
      <form class="mb-4">
        <div class="mb-6">
          <div class="text-gray-500 font-semibold mb-4">Email</div>
          <el-input v-model="email" autocomplete="off">
            <template #suffix>
              <div
                class="relative font-semibold text-yellow-500 cursor-pointer"
                style="top: 9px"
                @click="getEmailCode"
              >
                Lấy mã
              </div>
            </template>
          </el-input>
        </div>
        <div class="mb-6">
          <div class="text-gray-500 font-semibold mb-4">Password</div>
          <el-input
            v-model="password"
            autocomplete="off"
            show-password
          ></el-input>
        </div>
        <div class="mb-6">
          <div class="text-gray-500 font-semibold mb-4">Mã xác nhận</div>
          <el-input v-model="confirmationCode"></el-input>
        </div>
        <div class="mb-2">
          <el-checkbox
            ><span class="text-gray-500"
              >I have read and agree to Binance’s
              <span class="underline cursor-pointer">Terms of Service</span> and
              <span class="underline cursor-pointer">Privacy Policy</span
              >.</span
            ></el-checkbox
          >
        </div>
        <div class="mb-6">
          <el-checkbox
            ><span class="text-gray-500"
              >I agree to receive marketing updates from Binance.
            </span></el-checkbox
          >
        </div>
      </form>
      <div class="btn-full">
        <el-button type="warning" @click="handleRegister"
          >Create Personal Account</el-button
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: 'auth',
  data() {
    return {
      email: '',
      password: '',
      confirmationCode: '',
    }
  },
  watch: {
    email(val) {
      this.$store.dispatch('user/setEmail', val)
    },
    password(val) {
      this.$store.dispatch('user/setPassword', val)
    },
  },
  methods: {
    async getEmailCode() {
      try {
        await this.$repositories.user.sendMail({
          email: this.email,
          type: 'register',
        })
        this.$message({
          message: 'Mã xác nhận đã được gửi về email của bạn',
          type: 'success',
        })
      } catch (e) {
        this.$message({
          message: e.response.data.message || 'Có lỗi xảy ra',
          type: 'error',
        })
      }
    },
    async handleRegister() {
      try {
        await this.$repositories.user.register({
          email: this.$store.state.user.email,
          password: this.$store.state.user.password,
          confirmationCode: this.confirmationCode,
        })
        await this.$auth.loginWith('local', {
          data: { email: this.email, password: this.password },
        })
        this.$message({
          message: 'Đăng ký thành công',
          type: 'success',
        })
        this.$router.push({ path: '/' })
      } catch (e) {
        console.log(e.response.data.message)
        this.$message({
          message:
            e.response.data.message === 'invalid confirmation code'
              ? 'Mã không hợp lệ'
              : 'Có lỗi xảy ra',
          type: 'error',
        })
      }
    },
  },
}
</script>

<style></style>
