<template>
  <div v-loading.fullscreen.lock="loading" class="w-full">
    <div
      class="flex items-center justify-between flex-wrap gap-4 py-6 px-4 lg:px-6"
    >
      <h1 class="text-4xl font-bold">Tín hiệu Bot</h1>
      <el-button
        type="warning"
        @click="$router.push({ path: '/bot-signal/my-bot' })"
        >Bot của tôi</el-button
      >
    </div>
    <div class="relative grid grid-cols-12 gap-6 px-4 lg:px-6">
      <PaymentOption
        v-for="item in packages"
        :key="item.id"
        :item="item"
        :buying="buying"
        :purchased="purchasedPackages"
        @buy="handlePurchasePackage"
      />
    </div>
  </div>
</template>

<script>
import PaymentOption from '@/components/bot-signal/payment/Item.vue'
export default {
  components: { PaymentOption },
  data() {
    return {
      buying: false,
      packages: [],
      purchasedPackages: [],
      loading: false,
    }
  },
  async mounted() {
    this.loading = true
    await this.getPackages()
    await this.getPurchasedPackages()
    this.loading = false
  },
  methods: {
    async getPackages() {
      try {
        const rs = await this.$repositories.package.all()
        this.packages = rs.data
      } catch (e) {
        console.error(e)
      }
    },
    async handlePurchasePackage(data) {
      console.log(data)
      this.buying = true
      try {
        await this.$repositories.wallet.purchasePackage({
          packageId: data.packageId,
          totalMonths: data.totalMonths,
          authCode: data.authCode,
        })
        this.$message({
          message: 'Thanh toán thành công',
          type: 'success',
        })
        await this.getWallet()
        await this.getPurchasedPackages()
      } catch (e) {
        this.$message({
          message: e.response?.data?.message || 'Có lỗi xảy ra',
          type: 'error',
        })
      } finally {
        this.buying = false
      }
    },
    async getWallet() {
      try {
        const rs = await this.$repositories.wallet.myWallet()
        console.log(rs)
        this.$store.dispatch('wallet/set', rs.data)
      } catch (e) {
        console.error(e)
      }
    },
    async getPurchasedPackages() {
      try {
        const rs = await this.$repositories.package.purchasedPackages()
        this.purchasedPackages = rs.data
      } catch (e) {
        console.error(e)
      }
    },
  },
}
</script>

<style></style>
