<template>
  <div class="py-6 w-full">
    <nuxt-link
      to="/bot-signal"
      class="flex items-center gap-1 text-gray-500 mb-4"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
          clip-rule="evenodd"
        />
      </svg>
      <div>Tín hiệu Bot</div>
    </nuxt-link>
    <h1 class="text-4xl font-bold mb-9">Bot của tôi</h1>
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12 lg:col-span-6">
        <div class="mb-4 full">
          <el-select
            v-model="botSelected"
            placeholder="Select"
            @change="getSignal"
          >
            <el-option
              v-for="bot in bots"
              :key="bot.id"
              :label="bot.name"
              :value="bot.id"
            >
            </el-option>
          </el-select>
        </div>
        <div
          class="rounded-lg shadow-lg bg-white border border-gray-200 overflow-auto mb-6 px-6"
          style="height: 50vh"
        >
          <div v-for="item in signals" :key="item.id" class="item py-6">
            <div
              v-for="(msg, index) in handleDisplaySignal(item.message)"
              :key="index"
            >
              {{ msg }}
            </div>
          </div>
        </div>
        <div class="btn-full">
          <el-button
            type="warning"
            @click="$router.push({ path: '/auto-trade' })"
            >Auto Trade</el-button
          >
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6" style="min-height: 500px">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container h-full">
          <div id="tradingview_80b04" class="h-full"></div>
          <div class="tradingview-widget-copyright">
            <a
              href="https://vn.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE"
              rel="noopener"
              target="_blank"
              ><span class="blue-text">BTCUSDT Biểu đồ</span>
            </a>
            bởi TradingView
          </div>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      bots: [],
      botSelected: '',
      signals: [],
    }
  },
  computed: {
    singal() {
      return ''
    },
  },
  watch: {
    botSelected(id) {
      this.getSignal(id)
    },
  },
  async mounted() {
    await this.getBots()
    console.log('qqq', this.$route.query.id, this.bots[0]?.id)
    if (this.$route.query.id) {
      this.botSelected = parseInt(this.$route.query.id)
    } else {
      this.botSelected = this.bots[0]?.id
    }
    this.tradingView()
  },
  methods: {
    async getBots() {
      try {
        const rs = await this.$repositories.bot.all()
        console.log(rs)
        this.bots = rs.data
      } catch (e) {
        console.error(e)
      }
    },
    async getSignal(botId) {
      try {
        const rs = await this.$repositories.signal.show(botId)
        this.signals = rs.data
      } catch (e) {
        console.error(e)
      }
    },
    handleDisplaySignal(msg) {
      const arr = []
      msg.split('\n').forEach((el) => arr.push(el))
      return arr
    },
    tradingView() {
      // eslint-disable-next-line no-undef, new-cap
      const test = new TradingView.widget({
        autosize: true,
        symbol: 'BINANCE:BTCUSDT',
        interval: 'D',
        timezone: 'Etc/UTC',
        theme: 'light',
        style: '1',
        locale: 'vi_VN',
        toolbar_bg: '#f1f3f6',
        enable_publishing: false,
        allow_symbol_change: true,
        container_id: 'tradingview_80b04',
      })
      console.log(test)
    },
  },
}
</script>

<style scoped>
.item:not(:last-child) {
  border-bottom: 2px dashed #d1d5db;
}
</style>
