<template>
  <header
    class="fixed top-0 left-0 right-0 bg-white flex items-center justify-between py-3.5 px-4 lg:px-8 border-b border-gray-200 z-50"
  >
    <div class="flex items-center gap-10">
      <nuxt-link to="/" class="flex items-center gap-2">
        <img src="/logo.png" alt="Binan Trade" />
        <h1 class="text-4xl text-yellow-500 font-semibold">Binan Trade</h1>
      </nuxt-link>
      <div class="flex items-center gap-10">
        <nuxt-link
          v-for="item in menu"
          :key="item.title"
          :to="item.url"
          class="flex items-center gap-1 text-gray-600 hover:text-yellow-400 transition-all"
          :class="{ active: $route.path.includes(item.url) }"
        >
          <div class="text-lg font-medium">{{ item.title }}</div>
          <svg
            v-if="item.children && item.children.length"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </nuxt-link>
      </div>
    </div>
    <div class="flex items-center gap-8">
      <nuxt-link
        to="/wallet"
        class="flex items-center gap-1 text-gray-600 hover:text-yellow-400 transition-all"
      >
        <div class="text-lg font-medium">Ví</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </nuxt-link>
      <nuxt-link
        to="/user/security"
        class="flex items-center gap-6 w-8 h-8 rounded-full overflow-hidden"
      >
        <img src="/user-blank.png" alt="" />
      </nuxt-link>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      menu: [
        {
          title: 'Tín hiệu BOT',
          url: '/bot-signal',
          children: [
            {
              childTitle: 'Tín hiệu BOT sub',
            },
          ],
        },
        {
          title: 'Thị trường',
          url: '/market',
        },
        {
          title: 'Auto Trade',
          url: '/auto-trade',
          children: [
            {
              childTitle: 'Auto Trade sub',
            },
          ],
        },
        {
          title: 'Copy Trade',
          url: '/copy-trade',
          children: [
            {
              childTitle: 'Copy Trade sub',
            },
          ],
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.nuxt-link-exact-active.nuxt-link-active {
  color: #f59e0b;
}
.active {
  color: #f59e0b;
}
</style>
