<template>
  <header
    class="fixed top-0 right-0 left-0 bg-white flex items-center justify-between py-3.5 px-4 lg:px-8 border-b border-gray-200 z-50"
  >
    <div style="min-width: 90px">
      <button @click="$emit('toggle')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-8 h-8"
        >
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="flex items-center gap-10">
      <nuxt-link to="/" class="flex items-center gap-2">
        <img src="/logo.png" alt="Binan Trade" class="block w-8" />
        <h1 class="hidden md:block text-2xl text-yellow-500 font-semibold">
          Binan Trade
        </h1>
      </nuxt-link>
    </div>
    <div class="flex items-center gap-4">
      <nuxt-link
        to="/wallet"
        class="flex items-center gap-1 text-gray-600 hover:text-yellow-400 transition-all"
      >
        <div class="text-lg font-medium">Ví</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </nuxt-link>
      <nuxt-link
        to="/user/security"
        class="flex items-center gap-6 w-8 h-8 rounded-full overflow-hidden"
      >
        <img src="/user-blank.png" alt="" />
      </nuxt-link>
    </div>
  </header>
</template>

<script>
export default {}
</script>

<style></style>
