<template>
  <div
    style="z-index: 10000 !important;"
    class="fixed bottom-0 right-0 left-0 flex items-center justify-between gap-4 border-t bg-gray-100 shadow-md border-gray-200 p-4"
  >
    <nuxt-link
      v-for="item in menu"
      :key="item.title"
      :to="item.url"
      class="text-gray-600 hover:text-yellow-400 transition-all"
      :class="{ active: $route.path.includes(item.url) }"
    >
      <div class="text-lg font-medium">{{ item.title }}</div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menu: [
        {
          title: "Tín hiệu BOT",
          url: "/bot-signal",
          children: [
            {
              childTitle: "Tín hiệu BOT sub",
            },
          ],
        },
        {
          title: "Thị trường",
          url: "/market",
        },
        {
          title: "Auto Trade",
          url: "/auto-trade",
          children: [
            {
              childTitle: "Auto Trade sub",
            },
          ],
        },
        {
          title: "Copy Trade",
          url: "/copy-trade",
          children: [
            {
              childTitle: "Copy Trade sub",
            },
          ],
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.nuxt-link-exact-active.nuxt-link-active {
  color: #f59e0b;
}
.active {
  color: #f59e0b;
}
</style>
