<template>
  <div
    class="rounded-lg bg-wwhite px-3 py-5"
    style="box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1)"
  >
    <div class="font-bold text-xl mb-3">Thống kê</div>
    <div class="text-sm text-gray-400">
      <div class="flex items-center gap-8 md:gap-10 lg:gap-20 mb-3">
        <div>
          <div class="mb-1">Tỷ suất 30 ngày qua</div>
          <div class="font-bold text-green-500">+700.96%</div>
        </div>
        <div>
          <div class="mb-1">Lũy kế lợi nhuận</div>
          <div class="font-bold text-green-500">+1,123.86</div>
        </div>
      </div>
      <div class="flex items-center justify-between gap-6 mb-3">
        <div>Tài sản tài khoản</div>
        <div class="font-semibold text-gray-800">2,756.87</div>
      </div>
      <div class="flex items-center justify-between gap-6 mb-3">
        <div>Lợi nhuận</div>
        <div class="font-semibold text-green-500">+14,213.01</div>
      </div>
      <div class="flex items-center justify-between gap-6 mb-3">
        <div>Số người theo dõi</div>
        <div class="font-semibold text-gray-800">2354</div>
      </div>
      <div class="flex items-center justify-between gap-6 mb-3">
        <div>Đánh giá rủi ro</div>
        <div
          class="flex-center w-5 h-5 rounded bg-yellow-500 text-gray-800 font-semibold text-xs"
        >
          5
        </div>
      </div>
      <div
        class="flex items-center text-yellow-500 font-semibold py-3 mb-3 border-t border-b border-gray-200"
      >
        <div>Hiển thị thêm dữ liệu</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <ul class="list-disc pl-6">
        <li class="mb-1">Đơn vị tính giá: USDT</li>
        <li class="mb-1">Tỷ lệ chia lợi nhuận: 8%</li>
        <li class="mb-1">Thời gian cập nhật: 23/07/2022 07:23:03</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
