<template>
  <div>
    <div
      class="flex items-center justify-between gap-6 flex-wrap bg-white py-6 px-4 md:px-6"
    >
      <div>
        <div class="flex items-center gap-6 mb-4">
          <div class="w-24 h-24 flex-center rounded-full overflow-hidden">
            <img src="/user-blank.png" alt="" />
          </div>
          <div>
            <div class="font-bold text-4xl mb">KIMERA</div>
            <div class="font-medium text-gray-400">Tham gia ngày 20/3/2022</div>
          </div>
        </div>
        <div class="flex items-center gap-2 text-gray-400 mb-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
            />
          </svg>
          <span>Tp.HCM, Viet Nam</span>
        </div>
        <div class="flex items-center gap-2 text-gray-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"
            />
          </svg>
          <span>Thông tin cơ bản, bio của giao dịch viên</span>
        </div>
      </div>
      <div class="flex items-center gap-8">
        <el-button
          type="warning"
          @click="$router.push({ path: '/copy-trade/copy' })"
          >Sao chép ngay</el-button
        >
        <button @click="$router.back()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-8 h-8"
          >
            <path
              fill-rule="evenodd"
              d="M20.25 12a.75.75 0 01-.75.75H6.31l5.47 5.47a.75.75 0 11-1.06 1.06l-6.75-6.75a.75.75 0 010-1.06l6.75-6.75a.75.75 0 111.06 1.06l-5.47 5.47H19.5a.75.75 0 01.75.75z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6 bg-white pt-6 px-4 md:px-6">
      <div
        class="col-start-1 col-end-13 lg:col-start-2 lg:col-end-12 flex items-center gap-4 justify-between"
      >
        <div
          v-for="tab in tabs"
          :key="tab.key"
          class="font-semibold text-base md:text-xl py-2 cursor-pointer text-gray-500"
          :class="{ 'tab-active': tab.key === activedTab }"
          @click="activedTab = tab.key"
        >
          {{ tab.name }}
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6 px-4 md:px-6 py-4">
      <div class="col-start-1 col-end-13 lg:col-start-2 lg:col-end-12">
        <TransactionData v-show="activedTab === 'DATA'" />
        <History v-show="activedTab === 'HISTORY'" />
        <Followers v-show="activedTab === 'FOLLOWERS'" />
      </div>
    </div>
  </div>
</template>

<script>
import TransactionData from './Data.vue'
import History from './history'
import Followers from './follower'
export default {
  components: {
    TransactionData,
    History,
    Followers,
  },
  data() {
    return {
      tabs: [
        {
          key: 'DATA',
          name: 'Số liệu giao dịch',
        },
        {
          key: 'HISTORY',
          name: 'Lịch sử giao dịch',
        },
        {
          key: 'FOLLOWERS',
          name: 'Người theo dõi',
        },
      ],
      activedTab: 'DATA',
    }
  },
}
</script>

<style lang="scss" scoped>
.tab-active {
  color: #30374f;
  border-bottom: 3px solid #fac515;
}
</style>
