// Start: Button
.el-button {
  font-size: 16px;
  &.el-button--mini {
    font-weight: 500;
    font-size: 15px;
  }
  &.el-button--text {
    color: #4b5563;
    font-weight: 500;
  }
  &.el-button--warning {
    color: #1f2937;
    font-weight: 600;
    background-color: #f6d658;
    border-color: #f6d658;
    &:hover {
      background: #fbbf24;
      border-color: #fbbf24;
    }
  }
}
.btn-full {
  .el-button {
    width: 100%;
  }
}
// End: Button

// Start: Checkbox
.el-checkbox {
  display: flex;
}
.el-checkbox,
.el-checkbox__input {
  white-space: initial;
}
// End: Checkbox

// Start: Steps
.el-step {
  .el-step__head {
    &.is-finish {
      color: #fbd34f;
      border-color: #fbd34f;
    }
  }
  .el-step__main {
    margin-top: 8px;
    .el-step__description.is-finish {
      color: #000000;
      font-weight: 600;
    }
  }
}
// End: Steps

// Start: Select
.full {
  .el-select {
    width: 100%;
  }
}
// End: Select

// Start: Dialog
.el-dialog {
  width: 100%;
}
@media (min-width: 769px) {
  .el-dialog {
    width: 60%;
  }
}
@media (min-width: 1025px) {
  .el-dialog {
    width: 40%;
  }
}
// End: Dialog

// Start: Table
.el-table th.el-table__cell > .cell {
  word-break: break-word;
}
// End: Table
