@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --brand: #f0d98f;
  --header-height: 68px;
  --menu-mobile-height: 89px;
}

html {
  font-family: 'Inter', sans-serif;
  color: #1f2937;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
