<template>
  <div class="mt-8 border-t border-gray-200">
    <div
      class="item flex flex-wrap items-center border-b border-gray-200 p-4 gap-4"
    >
      <div class="w-full lg:w-7/12">
        <div class="font-semibold mb-2">
          Binan Trade/Google Authenticator (Đề xuất)
        </div>
        <div class="text-sm text-gray-400 font-medium mb-1">
          Bảo vệ tài khoản và giao dịch của bạn
        </div>
        <div
          class="text-sm text-yellow-500 font-medium underline cursor-pointer"
        >
          Bạn đang gặp sự cố?
        </div>
      </div>
      <div class="w-full lg:w-2/12">
        <div v-if="user.authenticatorEnabled" class="flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6 text-green-500"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="text-sm font-medium text-gray-600">Đã kích hoạt</span>
        </div>
        <div v-else class="flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-5 h-5 text-gray-500"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="text-sm font-medium text-gray-600">Chưa liên kết</span>
        </div>
      </div>
      <div
        class="w-full lg:w-3/12 flex items-center gap-2"
      >
        <el-button v-if="user.authenticatorEnabled" type="warning" size="mini"
          >Thay đổi</el-button
        >
        <nuxt-link v-else to="/user/security/google-authen"
          ><el-button type="warning" size="mini"
            >Kích hoạt</el-button
          ></nuxt-link
        >
      </div>
    </div>
    <div
      class="item flex flex-wrap items-center border-b border-gray-200 p-4 gap-4"
    >
      <div class="w-full lg:w-7/12">
        <div class="font-semibold mb-2">Xác minh qua địa chỉ email</div>
        <div class="text-sm text-gray-400 font-medium mb-1">
          Bảo vệ giao dịch và tài khoản của bạn
        </div>
      </div>
      <div class="w-full lg:w-2/12">
        <div class="flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-5 h-5 text-green-500 flex-shrink-0"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="text-sm font-medium text-gray-600">{{
            user.email
          }}</span>
        </div>
      </div>
      <div
        class="w-full lg:w-3/12 flex items-center gap-2"
      >
        <el-button type="warning" size="mini">Xóa</el-button>
      </div>
    </div>
    <div
      class="item flex flex-wrap items-center border-b border-gray-200 p-4 gap-4"
    >
      <div class="w-7/12">
        <div class="font-semibold mb-2">Thay đổi mật khẩu</div>
      </div>
      <div class="w-2/12">
        <div class="flex items-center gap-2">
          <div class="w-5 h-5"></div>
          <!-- <span class="text-sm font-medium text-gray-600"
            >*****************</span
          > -->
        </div>
      </div>
      <div class="w-3/12 flex items-center gap-2">
        <el-button type="warning" size="mini" @click="$router.push('/auth/password')">Thay đổi</el-button>
      </div>
    </div>
    <div class="my-8 text-center">
      <el-button type="info" size="mini" @click="handleLogout"
        >Đăng xuất</el-button
      >
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.state.auth.user || {}
    },
  },
  methods: {
    async handleLogout() {
      console.log('logout')
      await this.$auth.logout()
      localStorage.removeItem('auth._token.local')
      const cookies = document.cookie.split(';')
      for (const cookie of cookies) {
        const eqPos = cookie.indexOf('=')
        const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT'
      }
      this.$store.dispatch('wallet/reset')
      this.$router.go('/auth/login')
    },
  },
}
</script>

<style></style>
