<template>
  <div class="container mx-auto lg:px-8">
    <nuxt-link
      to="/user/security"
      class="flex items-center gap-1 text-lg font-medium text-gray-400 mb-8"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
          clip-rule="evenodd"
        />
      </svg>
      <span>Bảo mật</span>
    </nuxt-link>
    <div class="text-center">
      <h1 class="text-2xl lg:text-3xl font-semibold mb-4">
        Kích hoạt Binan Trade/Google Authenticator
      </h1>
      <el-steps :active="step" align-center>
        <el-step description="Tải ứng dụng di động"></el-step>
        <el-step description="Quét mã QR"></el-step>
        <el-step description="Khóa dự phòng"></el-step>
        <el-step description="Kích hoạt binance/Google Authenticator"></el-step>
        <el-step description="Hoàn tất"></el-step>
      </el-steps>
      <div class="my-6">
        <component
          :is="`Step${step}`"
          :qr="qr"
          @next="handleNext"
          @pre="step--"
        ></component>
      </div>
    </div>
  </div>
</template>

<script>
import Step from './steps/index'
import { encoder } from '@/utils/qr'
export default {
  components: {
    ...Step,
  },
  data() {
    return {
      step: 1,
      qr: '',
      backupData: null,
      activateData: null,
    }
  },
  computed: {
    userId() {
      return this.$store.state.auth.user?.id
    },
    email() {
      return this.$store.state.auth.user?.email
    },
  },
  methods: {
    async handleNext(val) {
      this.step++
      switch (this.step) {
        case 2:
          await this.handleGenerateOtp()
          break
        case 4:
          console.log('4', val)
          this.backupData = val
          await this.handleBackupKey()
          break
        case 5:
          console.log(val)
          this.activateData = val
          await this.handleActivate2fa()
          break
      }
    },
    async handleGenerateOtp() {
      try {
        const rs = await this.$repositories.googleAuthen.generateOtp()
        this.qr = encoder(rs.data.otpAuthUrl)
      } catch (e) {
        console.error(e)
      }
    },
    async handleBackupKey() {
      try {
        const rs = await this.$repositories.googleAuthen.backupKey({
          code: this.backupData?.code,
          confirmationCode: this.backupData?.confirmationCode,
        })
        console.log(rs)
      } catch (error) {
        console.error(error)
      }
    },
    async handleActivate2fa() {
      try {
        const rs = await this.$repositories.googleAuthen.activate2fa({
          authenticatorCode: this.activateData?.authenticatorCode,
          emailVerificationCode: this.activateData.emailVerificationCode,
        })
        console.log(rs)
        this.$message({
          message: 'Kích hoạt Binan Trade/Google Authenticator thành công',
          type: 'success',
        })
      } catch (e) {
        this.$message({
          message:
            e.response.data.message || 'Có lỗi xảy ra. Vui lòng thử lại sau!',
          type: 'error',
        })
      }
    },
  },
}
</script>

<style></style>
