<template>
  <div>
    <Status />
    <Configs />
  </div>
</template>

<script>
import Status from './Status.vue'
import Configs from './Configs.vue'
export default {
  components: {
    Status,
    Configs,
  },
}
</script>

<style></style>
