<template>
  <div>
    <header class="py-3.5 px-4 lg:px-8">
      <nuxt-link to="/" class="flex items-center gap-2">
        <img src="/logo.png" alt="Binan Trade" />
        <h1 class="text-4xl text-yellow-500 font-semibold">Binan Trade</h1>
      </nuxt-link>
    </header>
    <Nuxt />
  </div>
</template>

<script>
export default {}
</script>

<style></style>
