<template>
  <div>
    <CommonHeader class="hidden lg:flex" />
    <CommonHeaderMobile
      class="flex lg:hidden"
      @toggle="showSidebarMobile = !showSidebarMobile"
    />
    <main id="main" class="main flex bg-gray-50">
      <CommonSidebar class="hidden lg:block" />
      <CommonSidebarMobile
        v-if="showSidebarMobile"
        class="block lg:hidden"
        @close="showSidebarMobile = false"
      />
      <Nuxt class="flex-1 bg-gray-50" />
      <CommonMenuMobile class="flex lg:hidden" />
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showSidebarMobile: false,
    }
  },
}
</script>

<style scoped>
.main {
  margin-top: var(--header-height);
  padding-bottom: calc(var(--menu-mobile-height));
  padding-left: 0;
}
@media (min-width: 1025px) {
  .main {
    padding-left: 200px;
    padding-bottom: 0;
    min-height: calc(100vh - var(--header-height));
  }
}
</style>
