<template>
  <div class="bg-gray-50">
    <div
      class="flex flex-wrap gap-6 justify-between items-center mb-8 py-6 px-4 md:px-6"
    >
      <h1 class="text-4xl font-bold">Auto Trade</h1>
      <el-dropdown trigger="click" @command="handleClickDropdown">
        <span class="el-dropdown-link font-semibold text-lg text-yellow-500">
          Thiết lập BOT<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="exchange">
            <div>Thiết lập cặp giao dịch</div>
          </el-dropdown-item>
          <el-dropdown-item command="capital">
            <div class="flex items-center">
              <div>Quản lý vốn</div>
            </div>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <List />
    <el-dialog
      title="Thiết lập cặp giao dịch"
      :visible.sync="showSettingExchangePopup"
      width="50%"
      center
    >
      <SettingExchangePopup />
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSettingExchangePopup = false">Đóng</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import List from '@/components/auto-trade/list'
import SettingExchangePopup from '@/components/auto-trade/setting-bot/cap-giao-dich'
export default {
  components: { List, SettingExchangePopup },
  data() {
    return {
      showSettingExchangePopup: false,
    }
  },
  methods: {
    handleClickDropdown(command) {
      if (command === 'exchange') {
        this.showSettingExchangePopup = true
      } else {
        this.$router.push({ path: '/auto-trade/quan-ly-von' })
      }
    },
  },
}
</script>

<style></style>
