<template>
  <div class="p-6">
    <div class="flex item center justify-between gap-4 flex-wrap mb-8">
      <h1 class="text-4xl font-bold">Quản lý vốn</h1>
      <button @click="$router.push({ path: '/auto-trade' })">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6"
        >
          <path
            fill-rule="evenodd"
            d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="bg-white rounded-lg p-6 mb-6">
      <div class="flex items-center gap-x-10 gap-y-6 flex-wrap">
        <div>
          <div class="text-lg font-bold mb-1">Chọn tài khoản giao dịch</div>
          <el-select v-model="value" placeholder="Select">
            <!-- <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option> -->
          </el-select>
        </div>
        <div>
          <div class="text-lg font-bold mb-1">Token Biance</div>
          <el-select v-model="value" placeholder="Select">
            <!-- <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option> -->
          </el-select>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-lg p-6 mb-6">
      <div class="w-full md:w-5/12">
        <div class="text-lg font-bold mb-1">Vốn đi lệnh</div>
        <div class="mb-1">
          <el-input />
        </div>
        <div class="text-sm text-gray-400">
          Mỗi lần bot auto trade đặt lệnh, vốn đặt lệnh sẽ bằng : 10.00 USDT
        </div>
      </div>
    </div>
    <div class="bg-white rounded-lg p-6 mb-6">
      <div class="w-full md:w-5/12">
        <div class="text-lg font-bold mb-1">Thiết lập đòn bẩy</div>
        <div class="mb-1">
          <el-input v-model="value1" />
        </div>
        <div class="mb-1">
          <el-slider v-model="value1"></el-slider>
        </div>
        <div class="text-sm text-gray-400">
          Đòn bẩy sử dụng mỗi lệnh Auto trade của bot
        </div>
      </div>
    </div>
    <div class="bg-white rounded-lg p-6 mb-6">
      <div class="w-full md:w-5/12">
        <div class="text-lg font-bold mb-1">Vốn đi lệnh mỗi ngày</div>
        <div class="mb-1">
          <el-input />
        </div>
        <div class="text-sm text-gray-400">
          Số vốn cho phép bot auto trade đặt lệnh trong ngày.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: '',
      value1: null,
    }
  },
}
</script>

<style></style>
